<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
         
        <title>管理界面</title>
        <link rel='stylesheet' type="text/css" href='/static/styles/admin/admin_layout.css' media="screen"/>
    </head>
    <body>
        <div id="header">
            <div id='login-panel'>
                $if session.login==True and session.username == 'admin':
                    <a href='/member'>系统管理员</a>
                $else:
                    <form action='/admin' method='post'>
                        用户名:<input type='text' name='username'/>
                        密码:<input type='password' name='password'/>
                        <input type='submit' class='login' value='登录'/>
                    </form>
            </div> 
        </div> 
        <div id="menu">
            <ul>
                <li><a href="/news_admin" target='second-page'>新闻管理</a></li>
                <li><a href="/product_admin" target='second-page'>产品管理</a></li>
                <li><a href="/member_admin" target='second-page'>会员管理</a></li>
                <li><a href="/post_admin" target='second-page'>论坛管理</a></li>
            </ul>
        </div>
        <div id="frame">
            <iframe id="frame-page" name="second-page">
            </iframe>
        </div>
    </body>
</html>
