$def with (members, page)
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="/static/styles/page.css" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="/static/styles/admin/admin_layout.css" type="text/css" media="screen" charset="utf-8">
        <script type='text/javascript' src='/static/scripts/common.js'></script>
    </head>
    <body>
        <table class='db-table'>
            <caption>会员管理</caption>
            <tr class='db-head'>
                <th>会员名称</th>
                <th>会员注册邮箱</th>
                <th>操作</th>
            </tr>
        $for member in members:
            $if loop.odd:
                <tr class='db-odd'>
            $else:
                <tr class='db-even'>
            <td>$member.member_username</td>
            <td>$member.member_email</td>
            <td class='db-operation'><a href='/member_delete/$member.member_id' onclick='return onDelete()'>删除</a></td>
            </tr>
        </table>
        <div id='page'>
            $:page.getPageHTML()
        </div>
    </body>
</html>
