$var title:密码修改
<div class="modify">
    <form action="/password" method="POST">
        <table>
            <tr>
                <td>当前密码:</td>
                <td><input type="password" name="old_password" value='' /></td>
            </tr>
            <tr>
                <td>新密码:</td>
                <td><input type="password" name="password1" value='' /></td>
            </tr>
            <tr>
                <td>新密码确认:</td>
                <td><input type="password" name="password2" value='' /></td>
            </tr>
            <tr class='bar'>
                <td class='td_bar'></td>
                <td><input type="submit" value="修改" class='modify_submit' /></td>
            </tr>
        </table>
    </form>
</div>
