$var title:注册
<div class="login">
	<form action="" method="POST">
		<table>
			<tr>
				<td>用户名:</td>
				<td><input type="text" name='username' /></td>
			</tr>
			<tr>
				<td>密码:</td>
				<td><input type="password" name='password1' /></td>
			</tr>
			<tr>
				<td>密码确认:</td>
				<td><input type="password" name="password2" /></td>
			</tr>
			<tr>
				<td>邮箱:</td>
				<td><input type="text" name="email" /></td>
			</tr>
			<tr class='bar'>
				<td class='td_bar'></td>
				<td><input type="submit" value="注册" class='submit' /></td>
			</tr>
		</table>
	</form>
</div>
